DATABASE_URL="mysql://user:pass@gateway01.ap-northeast-1.prod.aws.tidbcloud.com:4000/academy_platform?sslaccept=strict"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-32-char-secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Academy Platform"
STORAGE_DRIVER="local"
# STORAGE_DRIVER="r2"
# R2_ACCOUNT_ID="your-cloudflare-account-id"
# R2_ACCESS_KEY_ID="your-r2-access-key-id"
# R2_SECRET_ACCESS_KEY="your-r2-secret-access-key"
# R2_BUCKET="academy-platform"
# R2_PUBLIC_BASE_URL="https://cdn.example.com"
